@import url(fonts.css);
/* root-start */
:root{
    --Lato-Black:Lato-Black;
    --Lato-Bold:Lato-Black;
    --Poppins-Medium:Poppins-Medium;
    --Poppins-Regular:Poppins-Regular;
    --primary-black:#050C26;
    --hover-blue:#3988FF;
    --grey:#575859;
    --white:#FFFFFF;
    --line-red:#E41A1A;
    --line-orange:#DA5A12;
    --line-green:#5BBB10;
    --line-blue:#15C1CC;    
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
/* root-end */
.header-bg{
    max-width: 1820px;
    width: 100%;
    height: 800px;
    position: absolute;
    z-index: -1;
    left: 83px;
}
.header-nav{
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;   
    top: 0;
    left: 0;  
}
.nav-list{
    display: flex;
    column-gap: 50px;
}
.nav-title{
    color: var(--primary-black);
    font-family:var(--Lato-Black);
    font-size:25px;
    line-height: 37.5px;
    letter-spacing: 1.25px;
}
.nav-link{
    color:var(--grey);
    font-family:var(--Poppins-Regular);
    font-size: 18px;
    line-height:28.8px; 
    text-transform: capitalize;
    transition: all 500ms;
}
.nav-link:hover{
    color: var(--hover-blue);
}
.nav-btn{
    color:var(--white);
    font-family:var(--Poppins-Medium);
    font-size: 18px;
    line-height:28.8px;
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background:var(--hover-blue);
}
/* header-content */
.header-content{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    position: relative;   
    top: 0;
    left: 0; 
}
.header-content__left{
    max-width: 580px;
    width: 100%;
}
.header-content__title{
    color:var(--primary-black);
    font-family:var(--Lato-Bold);
    font-size: 69px;
    line-height: 82.8px;
}
.header-content__title span{
    color:var(--hover-blue);
    font-family:var(--Lato-Bold);
    font-size: 69px;
    line-height: 120%;
}
.header-content__text{
    margin-top: 25px;
    max-width: 496px;
    width: 100%;
    color:var(--grey);
    font-family:var(--Poppins-Regular);
    font-size: 18px;
    line-height:28.8px;
}
/* content-icon */
.header-content__icon{
    margin-top: 35px;
    display: flex;
    align-items: center;
}
.content-icon{
    width: 70px;
    height: 70px;
}
.icon-title{
    padding-left: 15px;
    color: var(--primary-black);
    font-family:var(--Poppins-Medium);
    font-size: 18px;
    line-height:28.8px;
}
.header-content__img{
    max-width: 800px;
    width: 100%;
}